table {
    width: 100%;
  }

.icono {
  margin-left: 20%;
}

.text-area {
  width: 100%;
}

.btn--form {
  margin-top: 5%;
  margin-left: 4%;
}

.icono:hover {
  cursor: pointer;
}

th {
  font-size: 20px;
}
td{
  font-size: 15px;
}

#edit--container, #table--view {
  -webkit-animation: fade-out 0.4s ease-out reverse both;
	        animation: fade-out 0.4s ease-out reverse both;
}

#btn--detalles {
  font-weight: bold;
  color: cornflowerblue;
}

#btn--detalles:hover {
  cursor: pointer;
  text-decoration: underline;

}

 @-webkit-keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
