<div *ngIf="!editar" id="table--view">
  <br>
  
  <div class="row justify-content-end">
    <button routerLink="/clientes/new" mat-raised-button color="primary">Cargar cliente</button>
  </div>  
  
  <br>
<input
      type="text"
      id="search"
      class="form-control"
      name="search"
      id="search"
      placeholder="Buscar por patente"
      maxlength="50"
      (keypress)="busquedaPorPatente()"
      [(ngModel)]="search"
    />
    <br>
  <div class="row justify-content-center row-table">
    <div style="width: 100%;">
      <table mat-table [dataSource]="clientes | paginate:page_size:page_number" class="mat-elevation-z8">

            <ng-container matColumnDef="nombre">
              <th mat-header-cell *matHeaderCellDef id="th_table"> Nombre </th>
              <td mat-cell *matCellDef="let element"> {{element.nombre}} </td>
            </ng-container>
          
            <ng-container matColumnDef="direccion">
              <th mat-header-cell *matHeaderCellDef id="th_table"> Dirección </th>
              <td mat-cell *matCellDef="let element"> {{(element.direccion) ? element.direccion : '-'}} </td>
            </ng-container>
          
            <ng-container matColumnDef="cuil">
              <th mat-header-cell *matHeaderCellDef id="th_table"> Cuil </th>
              <td mat-cell *matCellDef="let element"> {{(element.cuil) ? element.cuil : '-'}} </td>
            </ng-container>
          
            <ng-container matColumnDef="telefono">
              <th mat-header-cell *matHeaderCellDef id="th_table"> Telefono </th>
              <td mat-cell *matCellDef="let element"> {{(element.telefono) ? element.telefono : '-'}} </td>
            </ng-container>
    
            <ng-container matColumnDef="email">
                <th mat-header-cell *matHeaderCellDef id="th_table"> Email </th>
                <td mat-cell *matCellDef="let element"> {{(element.email) ? element.email : '-'}} </td>
              </ng-container>
          
              <ng-container matColumnDef="patente">
                <th mat-header-cell *matHeaderCellDef id="th_table"> Patente </th>
                <td mat-cell *matCellDef="let element" id="td_strong" > {{element.patente | uppercase}} </td>
              </ng-container>
              <ng-container matColumnDef="detallesAuto">
                <th style="text-align: center;" mat-header-cell *matHeaderCellDef> Detalles del auto </th>
                <td style="text-align: center;" mat-cell *matCellDef="let element" id="btn--detalles" (click)="openDetallesAuto(element)"><span>Ver</span></td>
              </ng-container>
    
<!--               <ng-container matColumnDef="marca">
                <th mat-header-cell *matHeaderCellDef id="th_table"> Marca </th>
                <td mat-cell *matCellDef="let element"> {{element.marca}} </td>
              </ng-container>
    
              <ng-container matColumnDef="modelo">
                <th mat-header-cell *matHeaderCellDef id="th_table"> Modelo </th>
                <td mat-cell *matCellDef="let element"> {{element.modelo}} </td>
              </ng-container>
    
              <ng-container matColumnDef="color" id="th_table">
                <th mat-header-cell *matHeaderCellDef> Color </th>
                <td mat-cell *matCellDef="let element"> {{element.color}} </td>
              </ng-container>
    
              <ng-container matColumnDef="kilometraje" id="th_table">
                <th mat-header-cell *matHeaderCellDef> Kilometraje </th>
                <td mat-cell *matCellDef="let element"> {{element.kilometraje}} </td>
              </ng-container> -->
    
              <ng-container matColumnDef="detalles">
                <th style="text-align: center;" mat-header-cell *matHeaderCellDef> Detalles </th>
                <td style="text-align: center;" mat-cell *matCellDef="let element" id="btn--detalles" (click)="openDetalles(element)"><span>Ver</span></td>
              </ng-container>
    
              <ng-container matColumnDef="edit">
                <th mat-header-cell *matHeaderCellDef> </th>
                <td mat-cell *matCellDef="let element"> <mat-icon class="icono" (click)="habilitarEdicion(element)"> edit </mat-icon></td>
              </ng-container>

              <ng-container matColumnDef="espacio">
                <th mat-header-cell *matHeaderCellDef> </th>
                <td mat-cell *matCellDef="let element">    </td>
              </ng-container>

              <ng-container matColumnDef="delete">
                <th mat-header-cell *matHeaderCellDef> </th>
                <td mat-cell *matCellDef="let element"> <mat-icon class="icono" (click)="openDialog(element)"> delete </mat-icon> </td>
              </ng-container>
    
    
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>  
          <mat-paginator [length]="clientes?.length"
          [pageSize]="page_size"
          [pageSizeOptions]="pageSizeOptions"
          (page)="handlePage($event)"
          showFirstLastButtons
          >
        </mat-paginator>     
      </div>   
    </div>

</div>
  <div *ngIf="editar" class="container" id="edit--container">
    <br>
    <h2>Editar cliente</h2><br>
    <div class="row justify-content-center">
      <form *ngIf="formGroup != undefined && clienteSeleccionado != undefined" name="editForm" role="form" [formGroup]="formGroup" (ngSubmit)="editarCliente(formGroup.value)">

          <h5>Datos personales</h5><hr>
          <div class="row">
              <div class="col-md-6">
                  <mat-form-field appearance="legacy">
                      <mat-label>Nombre y apellido</mat-label>
                      <input autocomplete="off" matInput formControlName="nombre">                
                  </mat-form-field>
              </div>
              <div class="col-md-4">
                  <mat-form-field appearance="legacy">
                      <mat-label>Dirección</mat-label>
                      <input autocomplete="off" matInput formControlName="direccion">                
                  </mat-form-field>
              </div>
          </div>
          <br><br>
          <div class="row">
              <div class="col-md-4">
                  <mat-form-field appearance="legacy">
                      <mat-label>Cuil</mat-label>
                      <input autocomplete="off" matInput formControlName="cuil">                
                  </mat-form-field>
              </div>
              <div class="col-md-4">
                  <mat-form-field appearance="legacy">
                      <mat-label>Teléfono</mat-label>
                      <input autocomplete="off" matInput formControlName="telefono">                
                  </mat-form-field>
              </div>
              <div class="col-md-4">
                  <mat-form-field appearance="legacy">
                      <mat-label>Mail</mat-label>
                      <input autocomplete="off" matInput formControlName="email">                
                  </mat-form-field>
              </div>
          </div>
         <br><br>
          <h5>Datos del vehículo</h5>
          <hr>
          <div class="row">
              <div class="col-md-6">
                  <mat-form-field appearance="legacy">
                      <mat-label>Patente</mat-label>
                      <input autocomplete="off" matInput formControlName="patente">                
                  </mat-form-field>
              </div>
              <div class="col-md-4">
                  <mat-form-field appearance="legacy">
                      <mat-label>Kilometraje</mat-label>
                      <input autocomplete="off" matInput formControlName="kilometraje">                
                  </mat-form-field>
              </div>
          </div>
          <br><br>
          <div class="row">
              <div class="col-md-4">
                  <mat-form-field appearance="legacy">
                      <mat-label>Marca</mat-label>
                      <input autocomplete="off" matInput formControlName="marca">                
                  </mat-form-field>
              </div>
              <div class="col-md-4">
                  <mat-form-field appearance="legacy">
                      <mat-label>Modelo</mat-label>
                      <input autocomplete="off" matInput formControlName="modelo">                
                  </mat-form-field>
              </div>
              <div class="col-md-4">
                  <mat-form-field appearance="legacy">
                      <mat-label>Color</mat-label>
                      <input autocomplete="off" matInput formControlName="color">                
                  </mat-form-field>
              </div>
          </div>
          <br>
          <mat-accordion>
              <mat-expansion-panel hideToggle style="width: 1000px;">
                <mat-expansion-panel-header>
                  <mat-panel-title>
                   Escribir detalle
                  </mat-panel-title>
                  <mat-panel-description>
                   click para abrir y cerrar
                  </mat-panel-description>
                </mat-expansion-panel-header>
                <mat-form-field class="text-area">
                  <textarea autocomplete="off" matInput placeholder="Redactar" formControlName="detalles" rows="30"></textarea>
                </mat-form-field>
              </mat-expansion-panel>
          </mat-accordion>
          <div class="row justify-content-end">
              
              <button type="button" class="btn--form" mat-raised-button color="warn" (click)="reload()">Cancelar</button>
              <button type="submit" class="btn--form" mat-raised-button color="primary">Guardar cambios</button>
          </div>
      </form>
    </div>

  </div>
      

 